#navbar {
    background-color: whitesmoke;
    border: 1px lightgrey solid;
}

#sidebar {
    background-color: whitesmoke;
    border: 1px lightgrey solid;
    height: 100%;
    box-sizing: border-box;
    margin-top: -1px;
}